<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context" 

	xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<util:properties id="javaMailProperties">
		<prop key="mail.smtp.auth">true</prop>
	</util:properties>
	
	<util:properties id="velocityProperties">
		<prop key="resource.loader">class</prop>
		<prop key="class.resource.loader.class">org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader</prop>
	</util:properties>
	
	<util:list id="propertiesFileLocations">
  		 <value>classpath:/appconfig.properties</value>
	</util:list>

	 <bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
			p:locations-ref="propertiesFileLocations"/> 


</beans>
