<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 

		xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<import resource="classpath:spring/spring-properties.xml"/>
	 	<!-- <import resource="classpath:spring/spring_sec_dbbeans.xml"/> -->
	 	<import resource="classpath:spring/spring-security.xml"/>
	 	<import resource="classpath:spring/spring-dispatcher.xml"/>
     	<import resource="classpath:spring/spring-hibernate-jpa1.xml"/>
     	<bean id="autowireHelper" class="com.kstrata.apps.hrm.web.security.AutowireHelper" factory-method="getInstance"/>
     	 
 </beans>   